In [ ]:
!pip install auto-sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting auto-sklearn
  Downloading auto-sklearn-0.15.0.tar.gz (6.5 MB)
     |████████████████████████████████| 6.5 MB 9.5 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: threadpoolctl in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (3.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (4.4.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (1.3.5)
Requirement already satisfied: distributed>=2012.12 in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (2022.2.1)
Collecting pynisher<0.7,>=0.6.3
  Downloading pynisher-0.6.4.tar.gz (11 kB)
Collecting smac<1.3,>=1.2
  Downloading smac-1.2.tar.gz (260 kB)
     |████████████████████████████████| 260 kB 40.3 MB/s
Collecting liac-arff
  Downloading liac-arff-2.5.0.tar.gz (13 kB)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (1.21.6)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (57.4.0)
Collecting pyrfr<0.9,>=0.8.1
  Downloading pyrfr-0.8.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 60.1 MB/s
Requirement already satisfied: dask>=2021.12 in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (2022.2.1)
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Collecting ConfigSpace<0.5,>=0.4.21
  Downloading ConfigSpace-0.4.21-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 48.8 MB/s
Requirement already satisfied: pyyaml in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (6.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from auto-sklearn) (1.2.0)
Collecting scikit-learn<0.25.0,>=0.24.0
  Downloading scikit_learn-0.24.2-cp38-cp38-manylinux2010_x86_64.whl (24.9 MB)
     |████████████████████████████████| 24.9 MB 1.7 MB/s
Requirement already satisfied: cython in /usr/local/lib/python3.8/dist-packages (from ConfigSpace<0.5,>=0.4.21->auto-sklearn) (0.29.32)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.8/dist-packages (from ConfigSpace<0.5,>=0.4.21->auto-sklearn) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from dask>=2021.12->auto-sklearn) (21.3)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from dask>=2021.12->auto-sklearn) (2022.11.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask>=2021.12->auto-sklearn) (0.12.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask>=2021.12->auto-sklearn) (1.5.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask>=2021.12->auto-sklearn) (1.3.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (1.0.4)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (1.7.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (2.11.3)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (6.0.4)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (2.2.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (7.1.2)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.8/dist-packages (from distributed>=2012.12->auto-sklearn) (5.4.8)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0->auto-sklearn) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0->auto-sklearn) (2.8.2)
Requirement already satisfied: locket in /usr/local/lib/python3.8/dist-packages (from partd>=0.3.10->dask>=2021.12->auto-sklearn) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->auto-sklearn) (1.15.0)
Collecting emcee>=3.0.0
  Downloading emcee-3.1.3-py2.py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 4.1 MB/s
Requirement already satisfied: heapdict in /usr/local/lib/python3.8/dist-packages (from zict>=0.1.3->distributed>=2012.12->auto-sklearn) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->distributed>=2012.12->auto-sklearn) (2.0.1)
Building wheels for collected packages: auto-sklearn, pynisher, smac, liac-arff
  Building wheel for auto-sklearn (PEP 517) ... done
  Created wheel for auto-sklearn: filename=auto_sklearn-0.15.0-py3-none-any.whl size=6641945 sha256=abe0bebef92ee75d33b4f4402d1fa1d9a24621726e4ea045114e7745c7c7d949
  Stored in directory: /root/.cache/pip/wheels/c5/11/0e/aeac2cee929fa4388e528737b49deb2eea05486e6f80d61c1a
  Building wheel for pynisher (setup.py) ... done
  Created wheel for pynisher: filename=pynisher-0.6.4-py3-none-any.whl size=7044 sha256=c4e305b08c642a3fc89749548f4147191fe7e2ec05956b5b75f3007e3895f0b8
  Stored in directory: /root/.cache/pip/wheels/a7/0b/c3/169e35bcd72f20d0d5e24c37dd2dff8282cc16c06df9762ff5
  Building wheel for smac (setup.py) ... done
  Created wheel for smac: filename=smac-1.2-py3-none-any.whl size=215931 sha256=aefc79f48378c459be79abe73ca3d15e86e8ece9985740a187818e5159fb6846
  Stored in directory: /root/.cache/pip/wheels/1c/0d/63/29515e546f52561bf5ff41e3968fe2c35afe4ae366be54b2c4
  Building wheel for liac-arff (setup.py) ... done
  Created wheel for liac-arff: filename=liac_arff-2.5.0-py3-none-any.whl size=11732 sha256=70e0c0290a7e3890c9dee5935f0f90b2c9c258cddce95a05c75d74c67dac13ad
  Stored in directory: /root/.cache/pip/wheels/a2/de/68/bf3972de3ecb31e32bef59a7f4c75f0687a3674c476b347c14
Successfully built auto-sklearn pynisher smac liac-arff
Installing collected packages: scikit-learn, pyrfr, pynisher, emcee, ConfigSpace, smac, liac-arff, distro, auto-sklearn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.5 requires scikit-learn>=1.0.0, but you have scikit-learn 0.24.2 which is incompatible.
Successfully installed ConfigSpace-0.4.21 auto-sklearn-0.15.0 distro-1.8.0 emcee-3.1.3 liac-arff-2.5.0 pynisher-0.6.4 pyrfr-0.8.3 scikit-learn-0.24.2 smac-1.2

In [ ]:
import pandas as pd 
import numpy as np
import torch
from torch import nn
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import autosklearn.classification

In [ ]:
train = pd.read_csv("train.csv")
train.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,551,15806307,Trevisano,720,Spain,Male,38,5,114051.97,2,0,1,107577.29,0
1,6897,15709621,Martin,682,France,Female,54,4,62397.41,1,1,0,113088.60,1
2,4588,15619340,Palmer,672,France,Female,31,5,119903.67,1,1,1,132925.17,0
3,291,15620746,Napolitani,592,Spain,Female,40,4,104257.86,1,1,0,110857.33,0
4,1673,15646372,Yao,753,Spain,Male,42,5,120387.73,1,0,1,126378.57,0

In [ ]:
df = train.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)#deleting irrelevant feature
X = df.drop("Exited", axis = 1)
y = df["Exited"]

In [ ]:
automl = autosklearn.classification.AutoSklearnClassifier( #defining automl classifier
    time_left_for_this_task = 180, #total time allowed
    per_run_time_limit = 30 #time allowed for each algorithm
)

automl.fit(X, y)

/usr/local/lib/python3.8/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column Geography has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column Gender has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(

AutoSklearnClassifier(ensemble_class=<class 'autosklearn.ensembles.ensemble_selection.EnsembleSelection'>,
                      per_run_time_limit=30, time_left_for_this_task=180)

In [ ]:
automl.leaderboard()

          rank  ensemble_weight               type      cost  duration
model_id
6            1             0.64  gradient_boosting  0.139015  3.471295
2            2             0.30      random_forest  0.142803  6.488528
12           3             0.06  gradient_boosting  0.151136  3.752519

In [ ]:
automl.leaderboard(detailed = True)#this show the detail ranking & feature processing
#automl has become an integrated model

,rank,ensemble_weight,type,cost,duration,config_id,train_loss,seed,start_time,end_time,budget,status,data_preprocessors,feature_preprocessors,balancing_strategy,config_origin
model_id,,,,,,,,,,,,,,,,
6,1,0.22,gradient_boosting,0.139015,4.112163,5,0.105784,0,1.670831e+09,1.670831e+09,0.0,StatusType.SUCCESS,[],[feature_agglomeration],none,Initial design
2,2,0.30,random_forest,0.142803,6.330797,1,0.000000,0,1.670831e+09,1.670831e+09,0.0,StatusType.SUCCESS,[],[no_preprocessing],none,Initial design
11,3,0.04,random_forest,0.145455,31.028859,10,0.059328,0,1.670831e+09,1.670831e+09,0.0,StatusType.SUCCESS,[],[polynomial],none,Initial design
10,4,0.26,extra_trees,0.150758,23.478786,9,0.055597,0,1.670831e+09,1.670831e+09,0.0,StatusType.SUCCESS,[],[polynomial],none,Initial design
5,5,0.18,sgd,0.198106,1.326188,4,0.201119,0,1.670831e+09,1.670831e+09,0.0,StatusType.SUCCESS,[],[no_preprocessing],none,Initial design

In [ ]:
test = pd.read_csv("test.csv")
test

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,2209,15623595,Scott,726,France,Female,39,3,62397.41,1,0,0,106139.31
1,9924,15740283,Yegorova,661,France,Male,42,3,130339.64,1,1,0,125776.38
2,4617,15802368,Tan,545,France,Male,34,6,62397.41,2,1,1,78372.28
3,6077,15615322,Anayochukwu,731,Spain,Female,42,3,86717.08,1,1,0,136026.27
4,9240,15766374,Glover,533,France,Female,50,6,62397.41,1,1,1,135205.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,7872,15617348,Taylor,628,France,Male,35,6,62397.41,2,1,1,96201.09
1996,4257,15642785,Tokareva,639,Germany,Male,41,5,98154.30,2,1,0,109531.64
1997,2273,15766575,Trevisan,548,France,Female,46,3,119078.34,2,1,1,116725.67
1998,315,15610271,Dickson,602,Spain,Female,44,7,62397.41,2,1,1,128135.95
1999,3628,15763895,He,615,Germany,Female,32,5,105570.37,1,1,0,104140.30

In [ ]:
X_test = test.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)
X_test

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,726,France,Female,39,3,62397.41,1,0,0,106139.31
1,661,France,Male,42,3,130339.64,1,1,0,125776.38
2,545,France,Male,34,6,62397.41,2,1,1,78372.28
3,731,Spain,Female,42,3,86717.08,1,1,0,136026.27
4,533,France,Female,50,6,62397.41,1,1,1,135205.58
...,...,...,...,...,...,...,...,...,...,...
1995,628,France,Male,35,6,62397.41,2,1,1,96201.09
1996,639,Germany,Male,41,5,98154.30,2,1,0,109531.64
1997,548,France,Female,46,3,119078.34,2,1,1,116725.67
1998,602,Spain,Female,44,7,62397.41,2,1,1,128135.95
1999,615,Germany,Female,32,5,105570.37,1,1,0,104140.30

In [ ]:
y_test = automl.predict(X_test)
y_test

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
upload = pd.read_csv("upload.csv")
upload

      Unnamed: 0  RowNumber  Exited
0              0       2209       0
1              1       9924       0
2              2       4617       0
3              3       6077       0
4              4       9240       0
...          ...        ...     ...
1995        1995       7872       0
1996        1996       4257       0
1997        1997       2273       0
1998        1998        315       0
1999        1999       3628       0

[2000 rows x 3 columns]

In [ ]:
upload["Exited"] = y_test
upload

      Unnamed: 0  RowNumber  Exited
0              0       2209       0
1              1       9924       0
2              2       4617       0
3              3       6077       0
4              4       9240       1
...          ...        ...     ...
1995        1995       7872       0
1996        1996       4257       0
1997        1997       2273       0
1998        1998        315       0
1999        1999       3628       0

[2000 rows x 3 columns]

In [ ]:
upload.to_csv("upload_automl.csv")