In [ ]:
import pandas as pd 
import numpy as np
import torch
from torch import nn
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [ ]:
train = pd.read_csv("train.csv") #read training data
train

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,551,15806307,Trevisano,720,Spain,Male,38,5,114051.97,2,0,1,107577.29,0
1,6897,15709621,Martin,682,France,Female,54,4,62397.41,1,1,0,113088.60,1
2,4588,15619340,Palmer,672,France,Female,31,5,119903.67,1,1,1,132925.17,0
3,291,15620746,Napolitani,592,Spain,Female,40,4,104257.86,1,1,0,110857.33,0
4,1673,15646372,Yao,753,Spain,Male,42,5,120387.73,1,0,1,126378.57,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,5345,15584532,Yu,568,France,Female,35,6,121079.60,2,1,1,124890.50,1
7996,5837,15606641,Liao,602,Germany,Female,45,7,145846.07,1,1,0,99276.02,0
7997,7335,15739692,Ferri,679,Spain,Female,43,5,132810.01,1,1,0,130780.85,1
7998,9552,15791373,Worsnop,715,France,Male,38,4,118729.45,1,0,0,95484.52,0
7999,178,15739931,Ibekwe,600,France,Female,42,5,62397.41,1,0,0,66315.00,0

In [ ]:
df = train.drop(columns = ["RowNumber", "CustomerId", "Surname"])#dropping less important features 
list1 = ["Gender", "Geography", "NumOfProducts", "IsActiveMember", "Tenure"]
df = pd.get_dummies(df, columns =list1,drop_first=True)#one-hot encoding for categorical features
df

,CreditScore,Age,Balance,HasCrCard,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain,NumOfProducts_2,NumOfProducts_3,NumOfProducts_4,IsActiveMember_1,Tenure_3,Tenure_4,Tenure_5,Tenure_6,Tenure_7
0,720,38,114051.97,0,107577.29,0,1,0,1,1,0,0,1,0,0,1,0,0
1,682,54,62397.41,1,113088.60,1,0,0,0,0,0,0,0,0,1,0,0,0
2,672,31,119903.67,1,132925.17,0,0,0,0,0,0,0,1,0,0,1,0,0
3,592,40,104257.86,1,110857.33,0,0,0,1,0,0,0,0,0,1,0,0,0
4,753,42,120387.73,0,126378.57,0,1,0,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,568,35,121079.60,1,124890.50,1,0,0,0,1,0,0,1,0,0,0,1,0
7996,602,45,145846.07,1,99276.02,0,0,1,0,0,0,0,0,0,0,0,0,1
7997,679,43,132810.01,1,130780.85,1,0,0,1,0,0,0,0,0,0,1,0,0
7998,715,38,118729.45,0,95484.52,0,1,0,0,0,0,0,0,0,1,0,0,0
7999,600,42,62397.41,0,66315.00,0,0,0,0,0,0,0,0,0,0,1,0,0

In [ ]:
stdscaler = StandardScaler()
df[["CreditScore", "Age", "Balance", "EstimatedSalary"]] = stdscaler.fit_transform(df[["CreditScore", "Age", "Balance", "EstimatedSalary"]])#standardize continuous features
df

,CreditScore,Age,Balance,HasCrCard,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain,NumOfProducts_2,NumOfProducts_3,NumOfProducts_4,IsActiveMember_1,Tenure_3,Tenure_4,Tenure_5,Tenure_6,Tenure_7
0,1.509906,-0.663721,0.428978,0,0.304927,0,1,0,1,1,0,0,1,0,0,1,0,0
1,0.866637,1.465241,-1.214512,1,0.529787,1,0,0,0,0,0,0,0,0,1,0,0,0
2,0.697356,-1.595141,0.615161,1,1.339115,0,0,0,0,0,0,0,1,0,0,1,0,0
3,-0.656894,-0.397600,0.117359,1,0.438752,0,0,0,1,0,0,0,0,0,1,0,0,0
4,2.068534,-0.131480,0.630562,0,1.072015,0,1,0,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,-1.063169,-1.062901,0.652575,1,1.011302,1,0,0,0,1,0,0,1,0,0,0,1,0
7996,-0.487612,0.267700,1.440568,1,-0.033763,0,0,1,0,0,0,0,0,0,0,0,0,1
7997,0.815853,0.001580,1.025801,1,1.251627,1,0,0,1,0,0,0,0,0,0,1,0,0
7998,1.425266,-0.663721,0.577801,0,-0.188456,0,1,0,0,0,0,0,0,0,1,0,0,0
7999,-0.521469,-0.131480,-1.214512,0,-1.378566,0,0,0,0,0,0,0,0,0,0,1,0,0

In [ ]:
# making data balanced
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X = df.drop('Exited', axis=1)#taking X & y
y = df['Exited']
#y = (y==0)*1
#X_res, y_res = sm.fit_resample(X, y) once trie ceasing the imbalance between 0 & 1 in y, but not used in the final examination
#X_res = torch.FloatTensor(X_res.values)
#y_res = torch.FloatTensor(y_res.values)

In [ ]:
X_res.shape

torch.Size([12736, 17])

In [ ]:
model = nn.Sequential(
    nn.Linear(17, 32),
    nn.ReLU(),    
    nn.Linear(32, 1),
    nn.Sigmoid()#Sigmoid() turns the value computed by the last Linear() into probability, which limits the value in (0, 1)
)

optimizer = torch.optim.Adam(model.parameters(), lr=0.03)
loss_func = nn.BCELoss()

for i in range(1000):
    prediction = model(X_res).flatten() 
    output = (prediction > 0.5) * 1. #determining whether the customer has probability high enough to exit
    acc = torch.mean((output==y_res)*1.) 
    loss = loss_func(prediction, y_res) 
    optimizer.zero_grad() 
    loss.backward()         
    optimizer.step()
    print("ACC: %.4f, Loss: %.4f"%(acc.detach().numpy(), loss.data.numpy()))

ACC: 0.4990, Loss: 0.7022
ACC: 0.6565, Loss: 0.6542
ACC: 0.6999, Loss: 0.6159
ACC: 0.7166, Loss: 0.5816
ACC: 0.7370, Loss: 0.5488
ACC: 0.7529, Loss: 0.5221
ACC: 0.7609, Loss: 0.5068
ACC: 0.7679, Loss: 0.4979
ACC: 0.7752, Loss: 0.4909
ACC: 0.7773, Loss: 0.4872
ACC: 0.7803, Loss: 0.4832
ACC: 0.7843, Loss: 0.4768
ACC: 0.7872, Loss: 0.4708
ACC: 0.7899, Loss: 0.4647
ACC: 0.7924, Loss: 0.4579
ACC: 0.7981, Loss: 0.4526
ACC: 0.7975, Loss: 0.4499
ACC: 0.7961, Loss: 0.4483
ACC: 0.7950, Loss: 0.4473
ACC: 0.7955, Loss: 0.4467
ACC: 0.7959, Loss: 0.4456
ACC: 0.7978, Loss: 0.4437
ACC: 0.7986, Loss: 0.4417
ACC: 0.8014, Loss: 0.4393
ACC: 0.8032, Loss: 0.4364
ACC: 0.8058, Loss: 0.4335
ACC: 0.8072, Loss: 0.4308
ACC: 0.8067, Loss: 0.4280
ACC: 0.8054, Loss: 0.4253
ACC: 0.8054, Loss: 0.4230
ACC: 0.8065, Loss: 0.4208
ACC: 0.8076, Loss: 0.4186
ACC: 0.8092, Loss: 0.4165
ACC: 0.8104, Loss: 0.4144
ACC: 0.8101, Loss: 0.4124
ACC: 0.8089, Loss: 0.4108
ACC: 0.8105, Loss: 0.4094
ACC: 0.8126, Loss: 0.4080
ACC: 0.8124, Loss: 0.4068
ACC: 0.8129, Loss: 0.4055
ACC: 0.8127, Loss: 0.4042
ACC: 0.8122, Loss: 0.4030
ACC: 0.8134, Loss: 0.4017
ACC: 0.8145, Loss: 0.4007
ACC: 0.8149, Loss: 0.3996
ACC: 0.8158, Loss: 0.3987
ACC: 0.8161, Loss: 0.3976
ACC: 0.8163, Loss: 0.3966
ACC: 0.8167, Loss: 0.3956
ACC: 0.8167, Loss: 0.3945
ACC: 0.8175, Loss: 0.3936
ACC: 0.8187, Loss: 0.3927
ACC: 0.8191, Loss: 0.3919
ACC: 0.8205, Loss: 0.3911
ACC: 0.8215, Loss: 0.3902
ACC: 0.8229, Loss: 0.3893
ACC: 0.8238, Loss: 0.3885
ACC: 0.8244, Loss: 0.3877
ACC: 0.8248, Loss: 0.3870
ACC: 0.8266, Loss: 0.3862
ACC: 0.8273, Loss: 0.3854
ACC: 0.8271, Loss: 0.3847
ACC: 0.8276, Loss: 0.3840
ACC: 0.8291, Loss: 0.3833
ACC: 0.8283, Loss: 0.3828
ACC: 0.8290, Loss: 0.3821
ACC: 0.8298, Loss: 0.3815
ACC: 0.8307, Loss: 0.3809
ACC: 0.8296, Loss: 0.3803
ACC: 0.8311, Loss: 0.3797
ACC: 0.8317, Loss: 0.3791
ACC: 0.8321, Loss: 0.3785
ACC: 0.8321, Loss: 0.3780
ACC: 0.8313, Loss: 0.3774
ACC: 0.8317, Loss: 0.3769
ACC: 0.8321, Loss: 0.3763
ACC: 0.8328, Loss: 0.3758
ACC: 0.8329, Loss: 0.3753
ACC: 0.8324, Loss: 0.3748
ACC: 0.8328, Loss: 0.3743
ACC: 0.8335, Loss: 0.3738
ACC: 0.8340, Loss: 0.3733
ACC: 0.8335, Loss: 0.3728
ACC: 0.8335, Loss: 0.3724
ACC: 0.8332, Loss: 0.3719
ACC: 0.8332, Loss: 0.3714
ACC: 0.8337, Loss: 0.3709
ACC: 0.8341, Loss: 0.3705
ACC: 0.8344, Loss: 0.3700
ACC: 0.8354, Loss: 0.3696
ACC: 0.8352, Loss: 0.3691
ACC: 0.8349, Loss: 0.3687
ACC: 0.8356, Loss: 0.3683
ACC: 0.8350, Loss: 0.3681
ACC: 0.8358, Loss: 0.3677
ACC: 0.8353, Loss: 0.3672
ACC: 0.8366, Loss: 0.3666
ACC: 0.8357, Loss: 0.3660
ACC: 0.8362, Loss: 0.3656
ACC: 0.8378, Loss: 0.3654
ACC: 0.8372, Loss: 0.3650
ACC: 0.8379, Loss: 0.3645
ACC: 0.8379, Loss: 0.3639
ACC: 0.8381, Loss: 0.3635
ACC: 0.8384, Loss: 0.3631
ACC: 0.8372, Loss: 0.3628
ACC: 0.8391, Loss: 0.3626
ACC: 0.8377, Loss: 0.3622
ACC: 0.8396, Loss: 0.3619
ACC: 0.8378, Loss: 0.3614
ACC: 0.8397, Loss: 0.3609
ACC: 0.8387, Loss: 0.3605
ACC: 0.8386, Loss: 0.3601
ACC: 0.8393, Loss: 0.3597
ACC: 0.8394, Loss: 0.3594
ACC: 0.8405, Loss: 0.3591
ACC: 0.8392, Loss: 0.3588
ACC: 0.8412, Loss: 0.3587
ACC: 0.8404, Loss: 0.3587
ACC: 0.8414, Loss: 0.3589
ACC: 0.8401, Loss: 0.3587
ACC: 0.8414, Loss: 0.3577
ACC: 0.8402, Loss: 0.3565
ACC: 0.8407, Loss: 0.3562
ACC: 0.8422, Loss: 0.3565
ACC: 0.8419, Loss: 0.3566
ACC: 0.8427, Loss: 0.3559
ACC: 0.8431, Loss: 0.3550
ACC: 0.8430, Loss: 0.3547
ACC: 0.8433, Loss: 0.3549
ACC: 0.8429, Loss: 0.3548
ACC: 0.8433, Loss: 0.3542
ACC: 0.8435, Loss: 0.3536
ACC: 0.8440, Loss: 0.3534
ACC: 0.8443, Loss: 0.3534
ACC: 0.8435, Loss: 0.3532
ACC: 0.8444, Loss: 0.3527
ACC: 0.8433, Loss: 0.3522
ACC: 0.8438, Loss: 0.3519
ACC: 0.8456, Loss: 0.3519
ACC: 0.8445, Loss: 0.3518
ACC: 0.8461, Loss: 0.3516
ACC: 0.8450, Loss: 0.3512
ACC: 0.8465, Loss: 0.3507
ACC: 0.8456, Loss: 0.3504
ACC: 0.8452, Loss: 0.3502
ACC: 0.8470, Loss: 0.3501
ACC: 0.8447, Loss: 0.3501
ACC: 0.8473, Loss: 0.3500
ACC: 0.8453, Loss: 0.3499
ACC: 0.8472, Loss: 0.3497
ACC: 0.8455, Loss: 0.3495
ACC: 0.8477, Loss: 0.3491
ACC: 0.8460, Loss: 0.3488
ACC: 0.8479, Loss: 0.3485
ACC: 0.8467, Loss: 0.3482
ACC: 0.8470, Loss: 0.3479
ACC: 0.8468, Loss: 0.3477
ACC: 0.8466, Loss: 0.3476
ACC: 0.8478, Loss: 0.3474
ACC: 0.8467, Loss: 0.3473
ACC: 0.8481, Loss: 0.3473
ACC: 0.8468, Loss: 0.3475
ACC: 0.8476, Loss: 0.3481
ACC: 0.8443, Loss: 0.3496
ACC: 0.8463, Loss: 0.3510
ACC: 0.8448, Loss: 0.3506
ACC: 0.8485, Loss: 0.3472
ACC: 0.8484, Loss: 0.3460
ACC: 0.8448, Loss: 0.3479
ACC: 0.8485, Loss: 0.3481
ACC: 0.8470, Loss: 0.3460
ACC: 0.8480, Loss: 0.3452
ACC: 0.8491, Loss: 0.3466
ACC: 0.8475, Loss: 0.3463
ACC: 0.8501, Loss: 0.3445
ACC: 0.8504, Loss: 0.3445
ACC: 0.8482, Loss: 0.3452
ACC: 0.8507, Loss: 0.3443
ACC: 0.8506, Loss: 0.3432
ACC: 0.8497, Loss: 0.3435
ACC: 0.8505, Loss: 0.3437
ACC: 0.8506, Loss: 0.3429
ACC: 0.8511, Loss: 0.3422
ACC: 0.8514, Loss: 0.3425
ACC: 0.8503, Loss: 0.3425
ACC: 0.8508, Loss: 0.3419
ACC: 0.8525, Loss: 0.3415
ACC: 0.8520, Loss: 0.3416
ACC: 0.8526, Loss: 0.3416
ACC: 0.8518, Loss: 0.3412
ACC: 0.8532, Loss: 0.3408
ACC: 0.8531, Loss: 0.3408
ACC: 0.8522, Loss: 0.3408
ACC: 0.8531, Loss: 0.3405
ACC: 0.8531, Loss: 0.3401
ACC: 0.8534, Loss: 0.3399
ACC: 0.8535, Loss: 0.3399
ACC: 0.8528, Loss: 0.3398
ACC: 0.8541, Loss: 0.3395
ACC: 0.8540, Loss: 0.3392
ACC: 0.8542, Loss: 0.3390
ACC: 0.8548, Loss: 0.3390
ACC: 0.8546, Loss: 0.3389
ACC: 0.8541, Loss: 0.3388
ACC: 0.8545, Loss: 0.3386
ACC: 0.8534, Loss: 0.3384
ACC: 0.8542, Loss: 0.3383
ACC: 0.8540, Loss: 0.3381
ACC: 0.8543, Loss: 0.3380
ACC: 0.8544, Loss: 0.3378
ACC: 0.8537, Loss: 0.3378
ACC: 0.8554, Loss: 0.3377
ACC: 0.8547, Loss: 0.3375
ACC: 0.8554, Loss: 0.3375
ACC: 0.8543, Loss: 0.3374
ACC: 0.8553, Loss: 0.3374
ACC: 0.8533, Loss: 0.3375
ACC: 0.8547, Loss: 0.3377
ACC: 0.8523, Loss: 0.3380
ACC: 0.8536, Loss: 0.3385
ACC: 0.8522, Loss: 0.3388
ACC: 0.8525, Loss: 0.3389
ACC: 0.8533, Loss: 0.3381
ACC: 0.8563, Loss: 0.3370
ACC: 0.8549, Loss: 0.3361
ACC: 0.8545, Loss: 0.3361
ACC: 0.8560, Loss: 0.3367
ACC: 0.8530, Loss: 0.3371
ACC: 0.8551, Loss: 0.3372
ACC: 0.8526, Loss: 0.3365
ACC: 0.8569, Loss: 0.3358
ACC: 0.8551, Loss: 0.3354
ACC: 0.8544, Loss: 0.3355
ACC: 0.8562, Loss: 0.3359
ACC: 0.8526, Loss: 0.3361
ACC: 0.8563, Loss: 0.3360
ACC: 0.8535, Loss: 0.3355
ACC: 0.8567, Loss: 0.3350
ACC: 0.8551, Loss: 0.3347
ACC: 0.8558, Loss: 0.3347
ACC: 0.8571, Loss: 0.3348
ACC: 0.8547, Loss: 0.3349
ACC: 0.8573, Loss: 0.3350
ACC: 0.8552, Loss: 0.3348
ACC: 0.8579, Loss: 0.3345
ACC: 0.8552, Loss: 0.3342
ACC: 0.8569, Loss: 0.3339
ACC: 0.8565, Loss: 0.3338
ACC: 0.8560, Loss: 0.3337
ACC: 0.8569, Loss: 0.3337
ACC: 0.8544, Loss: 0.3338
ACC: 0.8576, Loss: 0.3338
ACC: 0.8544, Loss: 0.3339
ACC: 0.8574, Loss: 0.3339
ACC: 0.8542, Loss: 0.3339
ACC: 0.8571, Loss: 0.3339
ACC: 0.8550, Loss: 0.3337
ACC: 0.8565, Loss: 0.3335
ACC: 0.8549, Loss: 0.3333
ACC: 0.8562, Loss: 0.3330
ACC: 0.8548, Loss: 0.3328
ACC: 0.8549, Loss: 0.3326
ACC: 0.8556, Loss: 0.3324
ACC: 0.8551, Loss: 0.3323
ACC: 0.8558, Loss: 0.3321
ACC: 0.8551, Loss: 0.3319
ACC: 0.8554, Loss: 0.3318
ACC: 0.8555, Loss: 0.3317
ACC: 0.8551, Loss: 0.3316
ACC: 0.8556, Loss: 0.3315
ACC: 0.8551, Loss: 0.3314
ACC: 0.8558, Loss: 0.3313
ACC: 0.8554, Loss: 0.3312
ACC: 0.8563, Loss: 0.3312
ACC: 0.8564, Loss: 0.3312
ACC: 0.8570, Loss: 0.3316
ACC: 0.8554, Loss: 0.3326
ACC: 0.8563, Loss: 0.3350
ACC: 0.8515, Loss: 0.3391
ACC: 0.8486, Loss: 0.3438
ACC: 0.8514, Loss: 0.3395
ACC: 0.8583, Loss: 0.3318
ACC: 0.8586, Loss: 0.3317
ACC: 0.8520, Loss: 0.3369
ACC: 0.8551, Loss: 0.3359
ACC: 0.8569, Loss: 0.3304
ACC: 0.8569, Loss: 0.3320
ACC: 0.8567, Loss: 0.3354
ACC: 0.8565, Loss: 0.3317
ACC: 0.8571, Loss: 0.3298
ACC: 0.8570, Loss: 0.3327
ACC: 0.8564, Loss: 0.3318
ACC: 0.8580, Loss: 0.3293
ACC: 0.8575, Loss: 0.3307
ACC: 0.8568, Loss: 0.3314
ACC: 0.8579, Loss: 0.3294
ACC: 0.8579, Loss: 0.3293
ACC: 0.8575, Loss: 0.3305
ACC: 0.8585, Loss: 0.3296
ACC: 0.8580, Loss: 0.3287
ACC: 0.8582, Loss: 0.3295
ACC: 0.8585, Loss: 0.3295
ACC: 0.8581, Loss: 0.3285
ACC: 0.8583, Loss: 0.3286
ACC: 0.8585, Loss: 0.3291
ACC: 0.8586, Loss: 0.3285
ACC: 0.8578, Loss: 0.3280
ACC: 0.8584, Loss: 0.3285
ACC: 0.8583, Loss: 0.3284
ACC: 0.8576, Loss: 0.3278
ACC: 0.8583, Loss: 0.3277
ACC: 0.8586, Loss: 0.3280
ACC: 0.8588, Loss: 0.3277
ACC: 0.8583, Loss: 0.3273
ACC: 0.8587, Loss: 0.3274
ACC: 0.8585, Loss: 0.3275
ACC: 0.8592, Loss: 0.3272
ACC: 0.8581, Loss: 0.3270
ACC: 0.8580, Loss: 0.3270
ACC: 0.8588, Loss: 0.3270
ACC: 0.8587, Loss: 0.3268
ACC: 0.8595, Loss: 0.3266
ACC: 0.8595, Loss: 0.3266
ACC: 0.8586, Loss: 0.3267
ACC: 0.8600, Loss: 0.3265
ACC: 0.8597, Loss: 0.3263
ACC: 0.8588, Loss: 0.3263
ACC: 0.8603, Loss: 0.3263
ACC: 0.8593, Loss: 0.3262
ACC: 0.8602, Loss: 0.3261
ACC: 0.8601, Loss: 0.3259
ACC: 0.8603, Loss: 0.3259
ACC: 0.8605, Loss: 0.3259
ACC: 0.8610, Loss: 0.3258
ACC: 0.8606, Loss: 0.3257
ACC: 0.8606, Loss: 0.3256
ACC: 0.8605, Loss: 0.3255
ACC: 0.8609, Loss: 0.3255
ACC: 0.8606, Loss: 0.3254
ACC: 0.8611, Loss: 0.3253
ACC: 0.8613, Loss: 0.3252
ACC: 0.8614, Loss: 0.3251
ACC: 0.8613, Loss: 0.3250
ACC: 0.8610, Loss: 0.3250
ACC: 0.8609, Loss: 0.3249
ACC: 0.8615, Loss: 0.3248
ACC: 0.8613, Loss: 0.3247
ACC: 0.8613, Loss: 0.3246
ACC: 0.8615, Loss: 0.3246
ACC: 0.8615, Loss: 0.3245
ACC: 0.8618, Loss: 0.3244
ACC: 0.8620, Loss: 0.3243
ACC: 0.8625, Loss: 0.3243
ACC: 0.8620, Loss: 0.3242
ACC: 0.8629, Loss: 0.3241
ACC: 0.8617, Loss: 0.3241
ACC: 0.8631, Loss: 0.3240
ACC: 0.8615, Loss: 0.3240
ACC: 0.8626, Loss: 0.3241
ACC: 0.8611, Loss: 0.3242
ACC: 0.8623, Loss: 0.3243
ACC: 0.8608, Loss: 0.3243
ACC: 0.8632, Loss: 0.3242
ACC: 0.8606, Loss: 0.3243
ACC: 0.8622, Loss: 0.3248
ACC: 0.8584, Loss: 0.3257
ACC: 0.8605, Loss: 0.3269
ACC: 0.8559, Loss: 0.3280
ACC: 0.8592, Loss: 0.3293
ACC: 0.8564, Loss: 0.3288
ACC: 0.8603, Loss: 0.3267
ACC: 0.8601, Loss: 0.3239
ACC: 0.8617, Loss: 0.3230
ACC: 0.8615, Loss: 0.3242
ACC: 0.8584, Loss: 0.3255
ACC: 0.8605, Loss: 0.3260
ACC: 0.8589, Loss: 0.3250
ACC: 0.8633, Loss: 0.3233
ACC: 0.8636, Loss: 0.3225
ACC: 0.8617, Loss: 0.3232
ACC: 0.8623, Loss: 0.3242
ACC: 0.8598, Loss: 0.3242
ACC: 0.8625, Loss: 0.3235
ACC: 0.8613, Loss: 0.3226
ACC: 0.8632, Loss: 0.3222
ACC: 0.8638, Loss: 0.3225
ACC: 0.8605, Loss: 0.3230
ACC: 0.8632, Loss: 0.3231
ACC: 0.8618, Loss: 0.3226
ACC: 0.8639, Loss: 0.3221
ACC: 0.8642, Loss: 0.3218
ACC: 0.8632, Loss: 0.3218
ACC: 0.8642, Loss: 0.3220
ACC: 0.8624, Loss: 0.3222
ACC: 0.8642, Loss: 0.3222
ACC: 0.8624, Loss: 0.3219
ACC: 0.8647, Loss: 0.3216
ACC: 0.8642, Loss: 0.3214
ACC: 0.8649, Loss: 0.3212
ACC: 0.8647, Loss: 0.3211
ACC: 0.8629, Loss: 0.3212
ACC: 0.8647, Loss: 0.3212
ACC: 0.8624, Loss: 0.3212
ACC: 0.8637, Loss: 0.3212
ACC: 0.8624, Loss: 0.3211
ACC: 0.8639, Loss: 0.3210
ACC: 0.8631, Loss: 0.3208
ACC: 0.8629, Loss: 0.3207
ACC: 0.8628, Loss: 0.3205
ACC: 0.8637, Loss: 0.3204
ACC: 0.8631, Loss: 0.3202
ACC: 0.8631, Loss: 0.3201
ACC: 0.8634, Loss: 0.3200
ACC: 0.8631, Loss: 0.3199
ACC: 0.8629, Loss: 0.3199
ACC: 0.8633, Loss: 0.3198
ACC: 0.8630, Loss: 0.3198
ACC: 0.8635, Loss: 0.3198
ACC: 0.8633, Loss: 0.3199
ACC: 0.8627, Loss: 0.3202
ACC: 0.8620, Loss: 0.3206
ACC: 0.8615, Loss: 0.3215
ACC: 0.8603, Loss: 0.3228
ACC: 0.8598, Loss: 0.3249
ACC: 0.8567, Loss: 0.3264
ACC: 0.8584, Loss: 0.3268
ACC: 0.8597, Loss: 0.3239
ACC: 0.8628, Loss: 0.3204
ACC: 0.8629, Loss: 0.3189
ACC: 0.8633, Loss: 0.3201
ACC: 0.8620, Loss: 0.3224
ACC: 0.8609, Loss: 0.3230
ACC: 0.8618, Loss: 0.3216
ACC: 0.8633, Loss: 0.3193
ACC: 0.8630, Loss: 0.3186
ACC: 0.8631, Loss: 0.3196
ACC: 0.8629, Loss: 0.3207
ACC: 0.8630, Loss: 0.3206
ACC: 0.8641, Loss: 0.3192
ACC: 0.8628, Loss: 0.3183
ACC: 0.8641, Loss: 0.3185
ACC: 0.8641, Loss: 0.3192
ACC: 0.8626, Loss: 0.3196
ACC: 0.8646, Loss: 0.3190
ACC: 0.8641, Loss: 0.3183
ACC: 0.8636, Loss: 0.3179
ACC: 0.8632, Loss: 0.3182
ACC: 0.8636, Loss: 0.3186
ACC: 0.8649, Loss: 0.3187
ACC: 0.8638, Loss: 0.3184
ACC: 0.8631, Loss: 0.3179
ACC: 0.8633, Loss: 0.3176
ACC: 0.8648, Loss: 0.3177
ACC: 0.8642, Loss: 0.3179
ACC: 0.8638, Loss: 0.3180
ACC: 0.8644, Loss: 0.3180
ACC: 0.8646, Loss: 0.3178
ACC: 0.8641, Loss: 0.3175
ACC: 0.8639, Loss: 0.3173
ACC: 0.8642, Loss: 0.3173
ACC: 0.8639, Loss: 0.3173
ACC: 0.8651, Loss: 0.3174
ACC: 0.8645, Loss: 0.3174
ACC: 0.8642, Loss: 0.3174
ACC: 0.8647, Loss: 0.3173
ACC: 0.8644, Loss: 0.3171
ACC: 0.8648, Loss: 0.3170
ACC: 0.8641, Loss: 0.3169
ACC: 0.8642, Loss: 0.3168
ACC: 0.8641, Loss: 0.3167
ACC: 0.8645, Loss: 0.3167
ACC: 0.8647, Loss: 0.3166
ACC: 0.8643, Loss: 0.3166
ACC: 0.8650, Loss: 0.3166
ACC: 0.8640, Loss: 0.3166
ACC: 0.8649, Loss: 0.3166
ACC: 0.8636, Loss: 0.3166
ACC: 0.8651, Loss: 0.3167
ACC: 0.8637, Loss: 0.3167
ACC: 0.8652, Loss: 0.3168
ACC: 0.8640, Loss: 0.3171
ACC: 0.8652, Loss: 0.3173
ACC: 0.8633, Loss: 0.3177
ACC: 0.8637, Loss: 0.3182
ACC: 0.8631, Loss: 0.3189
ACC: 0.8630, Loss: 0.3193
ACC: 0.8625, Loss: 0.3196
ACC: 0.8628, Loss: 0.3191
ACC: 0.8632, Loss: 0.3183
ACC: 0.8653, Loss: 0.3171
ACC: 0.8646, Loss: 0.3161
ACC: 0.8655, Loss: 0.3156
ACC: 0.8666, Loss: 0.3157
ACC: 0.8644, Loss: 0.3162
ACC: 0.8651, Loss: 0.3167
ACC: 0.8636, Loss: 0.3173
ACC: 0.8644, Loss: 0.3175
ACC: 0.8630, Loss: 0.3174
ACC: 0.8649, Loss: 0.3168
ACC: 0.8642, Loss: 0.3161
ACC: 0.8666, Loss: 0.3156
ACC: 0.8653, Loss: 0.3153
ACC: 0.8650, Loss: 0.3152
ACC: 0.8664, Loss: 0.3154
ACC: 0.8650, Loss: 0.3157
ACC: 0.8657, Loss: 0.3160
ACC: 0.8646, Loss: 0.3163
ACC: 0.8650, Loss: 0.3164
ACC: 0.8641, Loss: 0.3164
ACC: 0.8647, Loss: 0.3161
ACC: 0.8644, Loss: 0.3158
ACC: 0.8662, Loss: 0.3155
ACC: 0.8662, Loss: 0.3151
ACC: 0.8663, Loss: 0.3149
ACC: 0.8657, Loss: 0.3148
ACC: 0.8657, Loss: 0.3148
ACC: 0.8668, Loss: 0.3148
ACC: 0.8663, Loss: 0.3149
ACC: 0.8667, Loss: 0.3150
ACC: 0.8656, Loss: 0.3152
ACC: 0.8647, Loss: 0.3154
ACC: 0.8646, Loss: 0.3157
ACC: 0.8643, Loss: 0.3161
ACC: 0.8642, Loss: 0.3165
ACC: 0.8634, Loss: 0.3169
ACC: 0.8636, Loss: 0.3172
ACC: 0.8634, Loss: 0.3172
ACC: 0.8635, Loss: 0.3170
ACC: 0.8640, Loss: 0.3164
ACC: 0.8649, Loss: 0.3157
ACC: 0.8661, Loss: 0.3150
ACC: 0.8660, Loss: 0.3145
ACC: 0.8668, Loss: 0.3142
ACC: 0.8668, Loss: 0.3142
ACC: 0.8656, Loss: 0.3145
ACC: 0.8658, Loss: 0.3148
ACC: 0.8646, Loss: 0.3151
ACC: 0.8647, Loss: 0.3154
ACC: 0.8647, Loss: 0.3156
ACC: 0.8646, Loss: 0.3155
ACC: 0.8648, Loss: 0.3154
ACC: 0.8649, Loss: 0.3151
ACC: 0.8652, Loss: 0.3149
ACC: 0.8663, Loss: 0.3146
ACC: 0.8659, Loss: 0.3143
ACC: 0.8665, Loss: 0.3141
ACC: 0.8675, Loss: 0.3139
ACC: 0.8662, Loss: 0.3138
ACC: 0.8672, Loss: 0.3138
ACC: 0.8664, Loss: 0.3139
ACC: 0.8668, Loss: 0.3140
ACC: 0.8656, Loss: 0.3142
ACC: 0.8662, Loss: 0.3144
ACC: 0.8654, Loss: 0.3146
ACC: 0.8646, Loss: 0.3149
ACC: 0.8653, Loss: 0.3152
ACC: 0.8638, Loss: 0.3155
ACC: 0.8648, Loss: 0.3158
ACC: 0.8631, Loss: 0.3160
ACC: 0.8644, Loss: 0.3161
ACC: 0.8631, Loss: 0.3158
ACC: 0.8645, Loss: 0.3154
ACC: 0.8646, Loss: 0.3147
ACC: 0.8658, Loss: 0.3141
ACC: 0.8675, Loss: 0.3137
ACC: 0.8678, Loss: 0.3135
ACC: 0.8666, Loss: 0.3134
ACC: 0.8673, Loss: 0.3135
ACC: 0.8660, Loss: 0.3136
ACC: 0.8666, Loss: 0.3138
ACC: 0.8654, Loss: 0.3141
ACC: 0.8649, Loss: 0.3144
ACC: 0.8652, Loss: 0.3147
ACC: 0.8643, Loss: 0.3149
ACC: 0.8649, Loss: 0.3149
ACC: 0.8640, Loss: 0.3147
ACC: 0.8654, Loss: 0.3145
ACC: 0.8650, Loss: 0.3141
ACC: 0.8653, Loss: 0.3138
ACC: 0.8674, Loss: 0.3134
ACC: 0.8661, Loss: 0.3132
ACC: 0.8679, Loss: 0.3130
ACC: 0.8679, Loss: 0.3130
ACC: 0.8675, Loss: 0.3130
ACC: 0.8681, Loss: 0.3131
ACC: 0.8658, Loss: 0.3132
ACC: 0.8674, Loss: 0.3134
ACC: 0.8651, Loss: 0.3136
ACC: 0.8654, Loss: 0.3139
ACC: 0.8653, Loss: 0.3142
ACC: 0.8643, Loss: 0.3145
ACC: 0.8652, Loss: 0.3148
ACC: 0.8643, Loss: 0.3150
ACC: 0.8651, Loss: 0.3152
ACC: 0.8641, Loss: 0.3151
ACC: 0.8653, Loss: 0.3149
ACC: 0.8648, Loss: 0.3144
ACC: 0.8656, Loss: 0.3138
ACC: 0.8667, Loss: 0.3133
ACC: 0.8668, Loss: 0.3129
ACC: 0.8677, Loss: 0.3127
ACC: 0.8677, Loss: 0.3127
ACC: 0.8675, Loss: 0.3128
ACC: 0.8679, Loss: 0.3130
ACC: 0.8660, Loss: 0.3133
ACC: 0.8658, Loss: 0.3135
ACC: 0.8656, Loss: 0.3139
ACC: 0.8653, Loss: 0.3141
ACC: 0.8652, Loss: 0.3143
ACC: 0.8648, Loss: 0.3144
ACC: 0.8653, Loss: 0.3144
ACC: 0.8648, Loss: 0.3141
ACC: 0.8654, Loss: 0.3138
ACC: 0.8655, Loss: 0.3134
ACC: 0.8664, Loss: 0.3131
ACC: 0.8675, Loss: 0.3128
ACC: 0.8677, Loss: 0.3126
ACC: 0.8668, Loss: 0.3125
ACC: 0.8675, Loss: 0.3124
ACC: 0.8675, Loss: 0.3125
ACC: 0.8674, Loss: 0.3126
ACC: 0.8667, Loss: 0.3127
ACC: 0.8669, Loss: 0.3129
ACC: 0.8657, Loss: 0.3131
ACC: 0.8653, Loss: 0.3134
ACC: 0.8648, Loss: 0.3137
ACC: 0.8650, Loss: 0.3140
ACC: 0.8649, Loss: 0.3144
ACC: 0.8646, Loss: 0.3146
ACC: 0.8646, Loss: 0.3147
ACC: 0.8644, Loss: 0.3145
ACC: 0.8647, Loss: 0.3142
ACC: 0.8650, Loss: 0.3136
ACC: 0.8653, Loss: 0.3131
ACC: 0.8677, Loss: 0.3126
ACC: 0.8678, Loss: 0.3123
ACC: 0.8672, Loss: 0.3122
ACC: 0.8674, Loss: 0.3122
ACC: 0.8666, Loss: 0.3124
ACC: 0.8676, Loss: 0.3126
ACC: 0.8656, Loss: 0.3128
ACC: 0.8664, Loss: 0.3131
ACC: 0.8655, Loss: 0.3133
ACC: 0.8656, Loss: 0.3135
ACC: 0.8657, Loss: 0.3136
ACC: 0.8655, Loss: 0.3135
ACC: 0.8657, Loss: 0.3135
ACC: 0.8658, Loss: 0.3132
ACC: 0.8658, Loss: 0.3130
ACC: 0.8665, Loss: 0.3127
ACC: 0.8668, Loss: 0.3125
ACC: 0.8672, Loss: 0.3122
ACC: 0.8672, Loss: 0.3121
ACC: 0.8671, Loss: 0.3120
ACC: 0.8674, Loss: 0.3120
ACC: 0.8672, Loss: 0.3120
ACC: 0.8678, Loss: 0.3120
ACC: 0.8660, Loss: 0.3121
ACC: 0.8672, Loss: 0.3123
ACC: 0.8658, Loss: 0.3125
ACC: 0.8664, Loss: 0.3128
ACC: 0.8660, Loss: 0.3131
ACC: 0.8660, Loss: 0.3136
ACC: 0.8652, Loss: 0.3141
ACC: 0.8644, Loss: 0.3145
ACC: 0.8649, Loss: 0.3148
ACC: 0.8638, Loss: 0.3148
ACC: 0.8645, Loss: 0.3145
ACC: 0.8652, Loss: 0.3138
ACC: 0.8661, Loss: 0.3130
ACC: 0.8676, Loss: 0.3122
ACC: 0.8664, Loss: 0.3118
ACC: 0.8666, Loss: 0.3117
ACC: 0.8676, Loss: 0.3119
ACC: 0.8666, Loss: 0.3122
ACC: 0.8669, Loss: 0.3126
ACC: 0.8659, Loss: 0.3130
ACC: 0.8669, Loss: 0.3131
ACC: 0.8656, Loss: 0.3131
ACC: 0.8674, Loss: 0.3129
ACC: 0.8663, Loss: 0.3125
ACC: 0.8678, Loss: 0.3121
ACC: 0.8657, Loss: 0.3118
ACC: 0.8671, Loss: 0.3116
ACC: 0.8669, Loss: 0.3115
ACC: 0.8666, Loss: 0.3115
ACC: 0.8675, Loss: 0.3116
ACC: 0.8658, Loss: 0.3118
ACC: 0.8679, Loss: 0.3119
ACC: 0.8666, Loss: 0.3121
ACC: 0.8671, Loss: 0.3122
ACC: 0.8662, Loss: 0.3123
ACC: 0.8675, Loss: 0.3124
ACC: 0.8662, Loss: 0.3124
ACC: 0.8671, Loss: 0.3123
ACC: 0.8664, Loss: 0.3122
ACC: 0.8675, Loss: 0.3121
ACC: 0.8662, Loss: 0.3119
ACC: 0.8675, Loss: 0.3118
ACC: 0.8663, Loss: 0.3116
ACC: 0.8678, Loss: 0.3115
ACC: 0.8662, Loss: 0.3114
ACC: 0.8672, Loss: 0.3114
ACC: 0.8666, Loss: 0.3114
ACC: 0.8667, Loss: 0.3114
ACC: 0.8667, Loss: 0.3114
ACC: 0.8665, Loss: 0.3114
ACC: 0.8669, Loss: 0.3115
ACC: 0.8669, Loss: 0.3115
ACC: 0.8671, Loss: 0.3115
ACC: 0.8672, Loss: 0.3115
ACC: 0.8675, Loss: 0.3116
ACC: 0.8657, Loss: 0.3119
ACC: 0.8672, Loss: 0.3123
ACC: 0.8658, Loss: 0.3129
ACC: 0.8661, Loss: 0.3136
ACC: 0.8646, Loss: 0.3146
ACC: 0.8660, Loss: 0.3153
ACC: 0.8644, Loss: 0.3160
ACC: 0.8649, Loss: 0.3159
ACC: 0.8645, Loss: 0.3154
ACC: 0.8654, Loss: 0.3140
ACC: 0.8657, Loss: 0.3125
ACC: 0.8672, Loss: 0.3114
ACC: 0.8665, Loss: 0.3110
ACC: 0.8662, Loss: 0.3115
ACC: 0.8667, Loss: 0.3123
ACC: 0.8661, Loss: 0.3131
ACC: 0.8671, Loss: 0.3135
ACC: 0.8662, Loss: 0.3133
ACC: 0.8670, Loss: 0.3127
ACC: 0.8664, Loss: 0.3119
ACC: 0.8665, Loss: 0.3113
ACC: 0.8665, Loss: 0.3110
ACC: 0.8671, Loss: 0.3111
ACC: 0.8672, Loss: 0.3114
ACC: 0.8667, Loss: 0.3119
ACC: 0.8675, Loss: 0.3122
ACC: 0.8664, Loss: 0.3122
ACC: 0.8680, Loss: 0.3120
ACC: 0.8664, Loss: 0.3116
ACC: 0.8675, Loss: 0.3111
ACC: 0.8661, Loss: 0.3109
ACC: 0.8667, Loss: 0.3108
ACC: 0.8663, Loss: 0.3109
ACC: 0.8663, Loss: 0.3110
ACC: 0.8679, Loss: 0.3112
ACC: 0.8667, Loss: 0.3114
ACC: 0.8675, Loss: 0.3115
ACC: 0.8664, Loss: 0.3115
ACC: 0.8679, Loss: 0.3113
ACC: 0.8663, Loss: 0.3112
ACC: 0.8671, Loss: 0.3110
ACC: 0.8664, Loss: 0.3109
ACC: 0.8664, Loss: 0.3108
ACC: 0.8672, Loss: 0.3107
ACC: 0.8662, Loss: 0.3106
ACC: 0.8670, Loss: 0.3106
ACC: 0.8664, Loss: 0.3107
ACC: 0.8678, Loss: 0.3107
ACC: 0.8660, Loss: 0.3108
ACC: 0.8671, Loss: 0.3109
ACC: 0.8665, Loss: 0.3110
ACC: 0.8675, Loss: 0.3110
ACC: 0.8664, Loss: 0.3112
ACC: 0.8675, Loss: 0.3113
ACC: 0.8661, Loss: 0.3114
ACC: 0.8674, Loss: 0.3116

In [ ]:
test = pd.read_csv("test.csv")
test

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,2209,15623595,Scott,726,France,Female,39,3,62397.41,1,0,0,106139.31
1,9924,15740283,Yegorova,661,France,Male,42,3,130339.64,1,1,0,125776.38
2,4617,15802368,Tan,545,France,Male,34,6,62397.41,2,1,1,78372.28
3,6077,15615322,Anayochukwu,731,Spain,Female,42,3,86717.08,1,1,0,136026.27
4,9240,15766374,Glover,533,France,Female,50,6,62397.41,1,1,1,135205.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,7872,15617348,Taylor,628,France,Male,35,6,62397.41,2,1,1,96201.09
1996,4257,15642785,Tokareva,639,Germany,Male,41,5,98154.30,2,1,0,109531.64
1997,2273,15766575,Trevisan,548,France,Female,46,3,119078.34,2,1,1,116725.67
1998,315,15610271,Dickson,602,Spain,Female,44,7,62397.41,2,1,1,128135.95
1999,3628,15763895,He,615,Germany,Female,32,5,105570.37,1,1,0,104140.30

In [ ]:
df_test = test.drop(columns = ["RowNumber", "CustomerId", "Surname"])#dropping important features in testing data
list1 = ["Gender", "Geography", "NumOfProducts", "IsActiveMember", "Tenure"]
df_test = pd.get_dummies(df_test, columns =list1,drop_first=True)#one-hot encoding in testing data
df_test

,CreditScore,Age,Balance,HasCrCard,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain,NumOfProducts_2,NumOfProducts_3,NumOfProducts_4,IsActiveMember_1,Tenure_3,Tenure_4,Tenure_5,Tenure_6,Tenure_7
0,726,39,62397.41,0,106139.31,0,0,0,0,0,0,0,1,0,0,0,0
1,661,42,130339.64,1,125776.38,1,0,0,0,0,0,0,1,0,0,0,0
2,545,34,62397.41,1,78372.28,1,0,0,1,0,0,1,0,0,0,1,0
3,731,42,86717.08,1,136026.27,0,0,1,0,0,0,0,1,0,0,0,0
4,533,50,62397.41,1,135205.58,0,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,628,35,62397.41,1,96201.09,1,0,0,1,0,0,1,0,0,0,1,0
1996,639,41,98154.30,1,109531.64,1,1,0,1,0,0,0,0,0,1,0,0
1997,548,46,119078.34,1,116725.67,0,0,0,1,0,0,1,1,0,0,0,0
1998,602,44,62397.41,1,128135.95,0,0,1,1,0,0,1,0,0,0,0,1
1999,615,32,105570.37,1,104140.30,0,1,0,0,0,0,0,0,0,1,0,0

In [ ]:
df_test[["CreditScore", "Age", "Balance", "EstimatedSalary"]] = stdscaler.transform(df_test[["CreditScore", "Age", "Balance", "EstimatedSalary"]])#standardize continuous data in 
df_test.shape

(2000, 17)

In [ ]:
x_test = df_test.values
x_test = torch.FloatTensor(x_test)#turning X_test into tensor so that nn model can compute
x_test.shape

torch.Size([2000, 17])

In [ ]:
y_test = model(x_test).flatten()
y_test = (y_test > 0.5) * 1.
y_test = y_test.detach().numpy().astype("int64")#turning y into nump
y_test = (y_test == 0)*1
y_test

array([1, 0, 0, ..., 0, 0, 0])

In [ ]:
np.unique(y_test)

array([0, 1])

In [ ]:
upload = pd.read_csv("upload.csv")
upload

      Unnamed: 0  RowNumber  Exited
0              0       2209       0
1              1       9924       0
2              2       4617       0
3              3       6077       0
4              4       9240       0
...          ...        ...     ...
1995        1995       7872       0
1996        1996       4257       0
1997        1997       2273       0
1998        1998        315       0
1999        1999       3628       0

[2000 rows x 3 columns]

In [ ]:
upload["Exited"] = y_test
upload

      Unnamed: 0  RowNumber  Exited
0              0       2209       1
1              1       9924       0
2              2       4617       0
3              3       6077       0
4              4       9240       1
...          ...        ...     ...
1995        1995       7872       0
1996        1996       4257       0
1997        1997       2273       0
1998        1998        315       0
1999        1999       3628       0

[2000 rows x 3 columns]

In [ ]:
upload.to_csv("upload_nn3.csv")